:root {
    --white: hsl(0,0%,100%);
    --lighGray: hsl(212, 45%, 89%);
    --grayishBlue: hsl(220, 15%, 55%);
    --darkBlue: hsl(218, 44%, 22%);
    --defaultFont: 0.938rem;
    --borderRadius: 8px;
    --weightNormal: 400;
    --weightStrong: 700;
}

/*Styles */

.container {
    background-color: var(--lighGray);
    min-height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}

.qr-code-wrapper {
    text-align: center;
    padding: 12px 4px;
    background-color: var(--white);
    border-radius: var(--borderRadius);
    max-width: 13.5rem;
    box-shadow: var(--grayishBlue) 0 0.125rem 0.75rem;
}

.qr-code-img {
    max-width: 12.5rem;
    border-radius: var(--borderRadius);
}

p, h1 {
    font-size: var(--defaultFont);
    font-family: 'Outfit', sans-serif;
}
h1.title {
    font-weight: var(--weightStrong);
    color: var(--darkBlue)

}
p.info {
    font-weight: var(--weightNormal);
    font-size: 0.75rem;
    color: var(--grayishBlue)
}
.text-wrapper {
    padding: 0 0.75rem;
}